<a href="https://colab.research.google.com/github/ShikaiKevinLiu/Study/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas notes

In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Create Series

In [ ]:
s1 = pd.Series([1,2,'a',4],index= ["a","b","c","d"])

In [ ]:
# query by index name
s1[["a","d"]]

a    1
d    4
dtype: object

In [ ]:
# query by index number
s1[0:2]

a    1
b    2
dtype: object

In [ ]:
# also supports loc and iloc
s1.iloc[0:3]

a    1
b    2
c    a
dtype: object

## Create dataframe
There are mainly two ways:
1. dictionary of lists: each list behave as a column
2. list of dictionarys: each dictionary behave as a row

In [ ]:
#dictinary of lists
data = {"apple":[1,2,3],"banana":[3,4,5]}
pd.DataFrame(data)

   apple  banana
0      1       3
1      2       4
2      3       5

In [ ]:
#list of dictionarys
row1 = {"apple":1,"banana":2}
row2 = {"apple":4,"banana":3}
row3 = {"apple":5,"banana":6,"grape":23}
pd.DataFrame([row1,row2,row3])

   apple  banana  grape
0      1       2    NaN
1      4       3    NaN
2      5       6   23.0

## Add new data

In [ ]:
demo = pd.DataFrame(data)
"""
Add a new column
"""
# method 1
demo.loc[:,"new"] = demo["apple"] + demo ["banana"]
# method 2
demo["new"] = demo["apple"] + demo ["banana"]
demo

   apple  banana  new
0      1       3    4
1      2       4    6
2      3       5    8

### df.apply method

Apply a function along an axis of the DataFrame.

1. Object passed to the function are Series whose index is either the index/row or column/features.

In [ ]:
def apple_size(x):
  if x["apple"]>2: return "big"
  else: return "small"
demo["apple_size"] = demo.apply(apple_size,axis=1)
demo

   apple  banana  new apple_size
0      1       3    4      small
1      2       4    6      small
2      3       5    8        big

### df.assign method

Assign new columns to a Dataframe.

Return a new object with all original columns in addition to new ones.

In [ ]:
demo.assign(
    appleplus1 = lambda x: x["apple"] +1,
    bananaplus1 = lambda x: x["banana"] +1,
)

   apple  banana  new apple_size  appleplus1  bananaplus1
0      1       3    4      small           2            4
1      2       4    6      small           3            5
2      3       5    8        big           4            6

### Assign value by condition

In [ ]:
demo['banana_size']=""
demo.loc[demo["banana"]>4,"banana_size"]="large"
demo.loc[demo["banana"]<=4,"banana_size"]="small"
demo

   apple  banana  new apple_size banana_size
0      1       3    4      small       small
1      2       4    6      small       small
2      3       5    8        big       large

## Pandas statistics aggregate method

In [ ]:
demo.describe() # summary of df
demo["apple"].unique() # unique values
demo["apple"].value_counts() # count for each uniqe value

## Missing data cleaning

In [ ]:
studf = pd.read_excel("/content/drive/MyDrive/data/student_excel.xlsx",skiprows = 2)
studf.isnull()

    Unnamed: 0     姓名     科目     分数
0         True  False  False  False
1         True   True  False  False
2         True   True  False  False
3         True   True   True   True
4         True  False  False  False
5         True   True  False   True
6         True   True  False  False
7         True   True   True   True
8         True  False  False  False
9         True   True  False  False
10        True   True  False  False

In [ ]:
studf.loc[studf["分数"].notnull(),:] # row with 分数 非空

    Unnamed: 0   姓名  科目    分数
0          NaN   小明  语文  85.0
1          NaN  NaN  数学  80.0
2          NaN  NaN  英语  90.0
4          NaN   小王  语文  85.0
6          NaN  NaN  英语  90.0
8          NaN   小刚  语文  85.0
9          NaN  NaN  数学  80.0
10         NaN  NaN  英语  90.0

In [ ]:
# 删除全是空的column
studf.dropna(axis=1,how="all",inplace=True)
# 删除全是空的row
studf.dropna(axis="index",how="all",inplace=True)
studf["分数"] = studf["分数"].fillna(0)
studf

     姓名  科目    分数
0    小明  语文  85.0
1   NaN  数学  80.0
2   NaN  英语  90.0
4    小王  语文  85.0
5   NaN  数学   0.0
6   NaN  英语  90.0
8    小刚  语文  85.0
9   NaN  数学  80.0
10  NaN  英语  90.0

## 排序方法

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/data/beijing_tianqi_2018.csv")
df["bWendu"] = df["bWendu"].str.replace("℃","").astype("int32")
df["yWendu"] = df["yWendu"].str.replace("℃","").astype("int32")
df.head()

          ymd  bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0  2018-01-01       3      -6   晴~多云       东北风   1-2级   59       良         2
1  2018-01-02       2      -5   阴~多云       东北风   1-2级   49       优         1
2  2018-01-03       2      -5     多云        北风   1-2级   28       优         1
3  2018-01-04       0      -8      阴       东北风   1-2级   28       优         1
4  2018-01-05       3      -6   多云~晴       西北风   1-2级   50       优         1

In [ ]:
# Series 排序
df["bWendu"].sort_values(ascending=False)

In [ ]:
# DataFrame 排序
df.sort_values(by="aqi")
df.sort_values(by=["aqi",'bWendu']) #按多个feature排序

## 字符串处理

ref: https://www.bilibili.com/video/BV1UJ411A7Fs?p=10&spm_id_from=pageDriver

In [ ]:
#todo bilibili p10

### Clean columns with text data

- Reference: https://pandas.pydata.org/docs/reference/api/pandas.Series.str.split.html

- when dealing with text data, firstly use ".str" to take the str object, otherwise, we can't directly work with Series object.

In [ ]:
s = pd.Series(
    [
        "this is a regular sentence",
        "https://docs.python.org/3/tutorial/index.html",
        np.nan
    ]
)
# how to use "split"
s.str.split("/", n=1, expand=True) #expand = True return splits as dataframe

                            0                                       1
0  this is a regular sentence                                    None
1                      https:  /docs.python.org/3/tutorial/index.html
2                         NaN                                     NaN

## Pandas Axis 参数

## Group data + transform

- Reference: https://realpython.com/pandas-groupby/

In [ ]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two'],
                   'C' : [1, 5, 5, 2, 5, 5],
                   'D' : [2.0, 5., 8., 1., 2., 9.]})
grouped = df.groupby('A')
grouped.transform(lambda x: (x - x.mean()) / x.std())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: FutureWarning: Dropping invalid columns in DataFrameGroupBy.transform is deprecated. In a future version, a TypeError will be raised. Before calling .transform, select only columns which should be valid for the transforming function.

          C         D
0 -1.154701 -0.577350
1  0.577350  0.000000
2  0.577350  1.154701
3 -1.154701 -1.000000
4  0.577350 -0.577350
5  0.577350  1.000000

In [ ]:
grouped.transform(lambda x: (x - x.mean()) / x.std())

## Merge and Join

In [ ]:
pd.read_csv("https://github.com/datasciencedojo/datasets/blob/master/titanic.csv",on_bad_lines='skip')

                                         <!DOCTYPE html>
0      <html lang="en" data-color-mode="auto" data-li...
1                                                 <head>
2                                 <meta charset="utf-8">
3        <link rel="dns-prefetch" href="https://githu...
4        <link rel="dns-prefetch" href="https://avata...
...                                                  ...
13506                                  </clipboard-copy>
13507                                             </div>
13508                                        </template>
13509                                            </body>
13510                                            </html>

[13511 rows x 1 columns]