<a href="https://colab.research.google.com/github/ShikaiKevinLiu/Study/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas notes

In [1]:
import pandas as pd
import numpy as np

## Create Series

In [20]:
s1 = pd.Series([1,2,'a',4],index= ["a","b","c","d"])

In [15]:
# query by index name
s1[["a","d"]]

a    1
d    4
dtype: object

In [24]:
# query by index number
s1[0:2]

a    1
b    2
dtype: object

In [23]:
# also supports loc and iloc
s1.iloc[0:3]

a    1
b    2
c    a
dtype: object

## Create dataframe
There are mainly two ways:
1. dictionary of lists: each list behave as a column
2. list of dictionarys: each dictionary behave as a row

In [ ]:
#dictinary of lists
data = {"apple":[1,2,3],"banana":[3,4,5]}
pd.DataFrame(data)

   apple  banana
0      1       3
1      2       4
2      3       5

In [ ]:
#list of dictionarys
row1 = {"apple":1,"banana":2}
row2 = {"apple":4,"banana":3}
row3 = {"apple":5,"banana":6,"grape":23}
pd.DataFrame([row1,row2,row3])

   apple  banana  grape
0      1       2    NaN
1      4       3    NaN
2      5       6   23.0

## Clean columns with text data

- Reference: https://pandas.pydata.org/docs/reference/api/pandas.Series.str.split.html

- when dealing with text data, firstly use ".str" to take the str object, otherwise, we can't directly work with Series object.

In [ ]:
s = pd.Series(
    [
        "this is a regular sentence",
        "https://docs.python.org/3/tutorial/index.html",
        np.nan
    ]
)
# how to use "split"
s.str.split("/", n=1, expand=True) #expand = True return splits as dataframe

                            0                                       1
0  this is a regular sentence                                    None
1                      https:  /docs.python.org/3/tutorial/index.html
2                         NaN                                     NaN

## Group data + transform

- Reference: https://realpython.com/pandas-groupby/

In [ ]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two'],
                   'C' : [1, 5, 5, 2, 5, 5],
                   'D' : [2.0, 5., 8., 1., 2., 9.]})
grouped = df.groupby('A')
grouped.transform(lambda x: (x - x.mean()) / x.std())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: FutureWarning: Dropping invalid columns in DataFrameGroupBy.transform is deprecated. In a future version, a TypeError will be raised. Before calling .transform, select only columns which should be valid for the transforming function.

          C         D
0 -1.154701 -0.577350
1  0.577350  0.000000
2  0.577350  1.154701
3 -1.154701 -1.000000
4  0.577350 -0.577350
5  0.577350  1.000000

In [ ]:
grouped.transform(lambda x: (x - x.mean()) / x.std())

## Merge and Join

In [30]:
pd.read_csv("https://github.com/datasciencedojo/datasets/blob/master/titanic.csv",on_bad_lines='skip')

                                         <!DOCTYPE html>
0      <html lang="en" data-color-mode="auto" data-li...
1                                                 <head>
2                                 <meta charset="utf-8">
3        <link rel="dns-prefetch" href="https://githu...
4        <link rel="dns-prefetch" href="https://avata...
...                                                  ...
13506                                  </clipboard-copy>
13507                                             </div>
13508                                        </template>
13509                                            </body>
13510                                            </html>

[13511 rows x 1 columns]