<a href="https://colab.research.google.com/github/ShikaiKevinLiu/Study/blob/main/Python_DataType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionary

Reference:
1. https://python.plainenglish.io/python-programming-tutorial-dictionary-1f966191ca03

## 1. Create dictionary

In [ ]:
# way 1
user_info = {'name': 'Nibesh', 'education': 'Bachelors Degree', 'age': 27}
user_info

{'age': 27, 'education': 'Bachelors Degree', 'name': 'Nibesh'}

In [ ]:
# way 2
user_info = dict({'name': 'Nibesh', 'education': 'Bachelors Degree', 'age': 27})
user_info

{'age': 27, 'education': 'Bachelors Degree', 'name': 'Nibesh'}

## 2. keys and values operations

Three built-in functions:
1. keys()
2. values()
3. items()

In [ ]:
print(user_info.keys())  # keys
print(user_info.values()) # values
print(user_info.items())  # key-value pairs

dict_keys(['name', 'education', 'age'])
dict_values(['Nibesh', 'Bachelors Degree', 27])
dict_items([('name', 'Nibesh'), ('education', 'Bachelors Degree'), ('age', 27)])

In [ ]:
print(list((user_info.keys()))) # keys
print(list(user_info.values())) # values
print(list(user_info.items()))  # key-value pairs

['name', 'education', 'age']
['Nibesh', 'Bachelors Degree', 27]
[('name', 'Nibesh'), ('education', 'Bachelors Degree'), ('age', 27)]

### how to check if a key exits:

In [ ]:
if 'name' in user_info:
    print(user_info['name'])

Nibesh

In [ ]:
if 'Name' in user_info:
    print(user_info['Name'])

## 3. Are dictionaries mutable?

Yes, the Python dictionary is a mutable object.

Meaning, we can change, add or remove key-value pairs after assigning.

In [ ]:
student_info = {
    'id': 12,
    'nationality': 'China',
    'gender': 'Male'
    }
print("Student info original: ", student_info)
student_info['gender'] = 'Female'
print("Student info after update: ", student_info)

Student info original:  {'id': 12, 'nationality': 'China', 'gender': 'Male'}
Student info after update:  {'id': 12, 'nationality': 'China', 'gender': 'Female'}

## 4. pop() and popitem() in Dictionary

In [ ]:
recurrence_dict = {
'current_location': 'Usa',
'job': 'sofware engineer',
'older_location': 'Canada'}
print("Before popping: ", recurrence_dict)

Before popping:  {'current_location': 'Usa', 'job': 'sofware engineer', 'older_location': 'Canada'}

In [ ]:
# popitem() remove the last item in a dictionary
recurrence_dict.popitem()
print("After popping: ", recurrence_dict)

After popping:  {'current_location': 'Usa', 'job': 'sofware engineer'}

In [ ]:
# pop() remove the any item in a dictionary
recurrence_dict.pop("current_location")
print("After popping: ", recurrence_dict)

After popping:  {'job': 'sofware engineer'}

## 5. Sort dictionary by keys and values

Reference:
1. https://www.w3schools.com/python/ref_func_sorted.asp

In [ ]:
# Sort dictionary by Keys
students_by_regions_finland = {
  'cusimaa': 1000000,
  'bothern ostrobothina': 900000,
  'aastern finlnad': 900000
  }
print(students_by_regions_finland)
# Sorted by keys
students_by_regions_finland_ascending = dict(sorted(students_by_regions_finland.items(), key=lambda dict_item: dict_item[0]))
print(students_by_regions_finland_ascending)

{'cusimaa': 1000000, 'bothern ostrobothina': 900000, 'aastern finlnad': 900000}
{'aastern finlnad': 900000, 'bothern ostrobothina': 900000, 'cusimaa': 1000000}

In [ ]:
# sort by values
software_dev_salary = {
    'junior_web_developer': 50000,
    'senior_data_scientist': 120000,
    'machine_learning_engineer': 90000,
    }
software_dev_salary_sorted_descending = dict(sorted(software_dev_salary.items(), key=lambda dict_item: dict_item[1], reverse=True))
print(software_dev_salary)
print(software_dev_salary_sorted_descending)

{'junior_web_developer': 50000, 'senior_data_scientist': 120000, 'machine_learning_engineer': 90000}
{'senior_data_scientist': 120000, 'machine_learning_engineer': 90000, 'junior_web_developer': 50000}

## 6. Merge Dictionary
Reference: How to use ** and * in Python https://www.python-engineer.com/courses/advancedpython/19-asterisk/
      https://www.youtube.com/watch?v=M7daahMOMMc&list=LL&index=1&t=161s

In [ ]:
# Merge Dictionary
dict_1 = {'name': 'Harry', 'age': 27, 'location': 'Helsinki'}
dict_2 = {'job': 'Architect'}
# Merge dict using ** argument
dict_merged_1 = {**dict_1, **dict_2}
print(dict_merged_1)

{'name': 'Harry', 'age': 27, 'location': 'Helsinki', 'job': 'Architect'}

### 6.1 Merge lists to dictionary (zip() function)
Reference on Zip(): https://www.bilibili.com/video/BV1VK4y1Y7NG?spm_id_from=333.337.search-card.all.click

In [ ]:
## List to dictionary
pets= ['dog','cat','guinea pig', 'parrot']
# Adding two list using zip and for loops
numbers =  [2,4,10,2]
pet_number_dict={}

for animal,num in zip(pets,numbers):
    pet_number_dict[animal]= num
print(pet_number_dict)

{'dog': 2, 'cat': 4, 'guinea pig': 10, 'parrot': 2}

In [ ]:
## List to dictionary
pets= ['dog','cat','guinea pig', 'parrot']
 
# Add different values  using zip  and comprehension
pet_number_dict_2 = {animal:num for animal,num in zip(pets,numbers)}
 
print(pet_number_dict_2)

{'dog': 2, 'cat': 4, 'guinea pig': 10, 'parrot': 2}

# List

Reference: https://python.plainenglish.io/python-lists-36fda96d92b

## Index function

In [1]:
vowel_letters=['a','e','i','o','u']
print(vowel_letters)

#Print the position of items
print("Position of 'a' is {} in vowel_letter.".format(vowel_letters.index('a')))
print("Position of 'u' is {} in vowel_letter.".format(vowel_letters.index('u')))

['a', 'e', 'i', 'o', 'u']
Length of vowel_letters is 5
Position of 'a' is 0 in vowel_letter.
Position of 'u' is 4 in vowel_letter.

## Access item and Sicing

The syntax for slicing is: list_name**[start: stop: step]**, where

1. Start is the index of the element where you want to start slicing from. It's optional, and starts from 0 if no value is given.

2. Stop is the the index of element before which you want to stop slicing. What I mean by before is that it's **exclusive**, not included in the sliced list. Also stop is also optional and ends till the last item in the list, if no value is given.

3. Step is the number of jumps on each slice, it's also optional.

In [7]:
alist = [i for i in range(0, 50)]

print(alist)

print("First 10 items in the list: ",alist[:10])

print("Last 10 items in the list: ",alist[-10:])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
First 10 items in the list:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Last 10 items in the list:  [40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [9]:
# Slice Using Start and stop
print("Items from index 10th and 30th index in the list: ",alist[10:30])
print("\n")
# Slice using start and step
print("Items starting from 5th index with +10 jump: ",alist[5::10])
print("\n")
#slice using stop and steps
print("Items with the jump of 5 until the index of 40 ",alist[:40:5])
# Slice with only jumps or steps
print("\n")
print("All the items 6 steps apart: ",alist[::6])

Items from index 10th and 30th index in the list:  [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]


Items starting from 5th index with +10 jump:  [5, 15, 25, 35, 45]


Items with the jump of 5 until the index of 40  [0, 5, 10, 15, 20, 25, 30, 35]


All the items 6 steps apart:  [0, 6, 12, 18, 24, 30, 36, 42, 48]

In [18]:
print("print item in revered order: ",alist[50:40:-1],"\n")
# if specify -1 in the step argument, then the list defautly set the start and end in reverse order
print("print item in revered order: ",alist[::-1],"\n")

print item in revered order:  [49, 48, 47, 46, 45, 44, 43, 42, 41]

print item in revered order:  [49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## Methods in List

### Copy()
Copy is a very important method on the list object. As the name suggests, it creates a new copy of the given list object. Copy comes handy when we want to tweak a list but still want to preserve the original list. So, we make a copy of the list and play with it.

In [19]:
clrs_in_rainbow =['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
print("Colors in rainbow: ", clrs_in_rainbow)
# create a copy
clrs_in_rainbow_cpy_1 = clrs_in_rainbow.copy()
print("Copy of colors in rainbow: ", clrs_in_rainbow_cpy_1)

Colors in rainbow:  ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
Copy of colors in rainbow:  ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

### Insert()
Insert new item at the index we specify.

it happens in place, i.e it changes the original list. 

Note: we cant use negative index for insert such as list.insert(-1, value)

In [28]:
even_number_frm_10_20= [i for i in range(10,16) if i%2==0]
print("Even numbers from 10 to 20: ",even_number_frm_10_20,"\n")

#Create new copy amd imsert new item
extended_list = even_number_frm_10_20.copy()
extended_list.insert(0,8)
extended_list.insert(len(extended_list),22) 

print("Extended new list: ",extended_list,"\n")
print("original list",even_number_frm_10_20," is not changed")

Even numbers from 10 to 20:  [10, 12, 14]

Extended new list:  [8, 10, 12, 14, 22]

original list [10, 12, 14]  is not changed

### Remove() & Pop()
Remove() the first matching item from the list. The input is a **value** in a list. If values does not exist, then error!!!

pop() use index as index, it removes the item on the index.

In [36]:
alist = [7,2,7]
print(alist)

#Lets remove carrots from the list
alist.remove(2)
print(alist)

[7, 2, 7]
[7, 7]

In [38]:
alist = [1,2,1,7,11]
print(alist)

# remove the last item from the list
alist.pop()
print(alist)

alist.pop(0)
print(alist)

[1, 2, 1, 7, 11]
[1, 2, 1, 7]
[2, 1, 7]

### Count()
count the occurence of a items in a list

In [42]:
### Count topic
alist= [1,1,2,4,1]
#print the list
print(alist)

print(alist.count(1))
print(alist.count(45))

[1, 1, 2, 4, 1]
3
0

### Sort() and Sorted()
sort() is in-place,  it changes the list directly.

sorted() create a new list, which is sorted

In [48]:
# Sort
a =[24,6,92,10,500,2,82]
print("The original list: ", a)
a.sort()
print("After sorted, random list:," ,a,"\n")

b =[24,6,92,10,500,2,82]
print("The original list: ", b)
c = sorted(b)
print("After sorted random list:," ,c)

The original list:  [24, 6, 92, 10, 500, 2, 82]
After sorted, random list:, [2, 6, 10, 24, 82, 92, 500]

The original list:  [24, 6, 92, 10, 500, 2, 82]
After sorted random list:, [2, 6, 10, 24, 82, 92, 500]

### Reverse() & and Reversed()
Reverse() is in-place

Reversed() create new list

In [57]:
# Reverse
a =[1,2,3]
a.reverse()
print("after reverse ", a,"\n")

# Reversed
a =[1,2,3]
b = list(reversed(a))
print("Original list ",a)
print("after reverse ", b)

after reverse  [3, 2, 1]

Original list  [1, 2, 3]
after reverse  [3, 2, 1]

### List Comprehension

In [2]:
even_numbers_less_50_v2 = [i for i in range(50) if (i % 2 == 0)]
print(even_numbers_less_50_v2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

# Strings

Reference: https://python.plainenglish.io/python-programming-tutorial-strings-80faeb836f10